body, .ui-btn {
    font-family: Roboto;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 15px 10px;
    border-bottom: 2px solid darkgrey;
    background-color: whitesmoke;
}

.page__button {
    padding: 5px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: lightskyblue;
    margin-right: 10px;
}

.page__button:last-child {
    margin-right: 0;
}

.page_name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.navigation a:hover {
    background-color: deepskyblue;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 20px auto;
}

.error {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #fbb;
    visibility: hidden;
}