<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/static/css/parent.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.5.3/handlebars.min.js"></script>
    <title>{% block title %}{% endblock %} Page</title>
    {% endblock %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,700">
</head>
<body>
    <div class="navigation">
        <span class="page_name">
            <div>{% block page_name%}{% endblock %}</div>
        </span>
        <nav class="buttons">
            <a href="/" class="page__button">Home</a>
            <a href="/people" class="page__button">People</a>
        </nav>
    </div>

    {% block body %}
    {% endblock %}
</body>

{% block javascript %}
<script>
    Handlebars.registerHelper('formatTimestamp', (timestamp) => {
        let mt = moment(timestamp, moment.ISO_8601);
        return mt.format('Y-MM-DD HH:mm:ss');
    });
</script>
{% endblock %}

</html>